<module>
	<rawname>autoprov</rawname>
	<repo>unsupported</repo>
	<name>AutoProv End Point Manager</name>
	<version>17.0.0.0</version>
    <publisher>JCattan</publisher>
	<category>Connectivity</category>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<menuitems>
		<epm_devices sort="1">Autoprov Device List</epm_devices>
		<epm_templates sort="2">Autoprov Template Manager</epm_templates>
		<epm_config sort="3">Autoprov Package Manager</epm_config>
		<epm_advanced sort="4">Autoprov Advanced Settings</epm_advanced>
	</menuitems>
	<description>
		AutoProv End Point Manager est un fork du module OSS Endpoint Manager pour FreePBX ( https://github.com/FreePBX/endpointman ).
		Il n'est *** PAS *** soutenu par Sangoma. Si vous recherchez un module pris en charge, veuillez installer le module Commercial Endpoint Manager de Sangoma.
		Les sources de ce module sont dispo ici: https://github.com/jcattan/autoprov
	</description>
	<changelog>
		*17.0.0.0* Pour FreePBX17
		*16.0.0.4* Migration PHP 8.3+ : Remplacement key_exists(), ajout #[AllowDynamicProperties], compatibilite PHP 8.3/8.4
		*16.0.0.3* Correction Bug php 7.4
		*16.0.0.2* Correction Bug rebuild qui ne prennait pas en compte le template
		*16.0.0.1* Version freepbx 16
	</changelog>
	<depends>
        <module>framework ge 17.0.0</module>
	</depends>
	<supported>
		<version>17.0</version>
	</supported>
	<hooks>
		<framework namespace="FreePBX\Console\Command" class="Chown">
			<method namespace="FreePBX\modules" class="Autoprov" callingMethod="fwcChownFiles">chownFreepbx</method>
		</framework>
	</hooks>
</module>
