#<Voip Config File>#
Version = 2.0000000000

################################################################################

#ap.AutoFirmwareUrl = http://{$server.ip.1}:84/Firmwares/Fanvil/w610w-linkvil-release-ff01-9002-2.14.0.31-UkrnlvUT2024-08-12-02.18.10.z

phone.MenuPassword = 041161 
web.account.1.Name = admin
web.account.1.Password = {$adminpw|admin}
web.account.1.Level = 10
#web.account.2.Name = guest
#web.account.2.Password = 
#web.account.2.Level = 5

net.wifi.WIFIEnable = 1

 net.wifiList.1.WIFIName = Wifi1
 net.wifiList.1.WIFISSID = Bourg-CabAuberge
 net.wifiList.1.SecureMode = 1
 net.wifiList.1.WIFIEncryption = 3
 net.wifiList.1.WIFIUserName = 
 net.wifiList.1.WIFIPassword = 83!BoCabAub**340

# net.wifiList.2.WIFIName = Wifi2
# net.wifiList.2.WIFISSID = SSID2
# net.wifiList.2.SecureMode = 1
# net.wifiList.2.WIFIEncryption = 1
# net.wifiList.2.WIFIUserName = 
# net.wifiList.2.WIFIPassword = ClefWifi_2

phone.display.DefaultLanguage = fr
phone.display.GreetingWords = {$displayname.line.1}

{line_loop}
sip.line.1.PhoneNumber = {$username}
sip.line.1.DisplayName = {$displayname} {$username}
sip.line.1.SipName = {$username}
sip.line.1.RegAddr = {$server_host}
sip.line.1.RegPort = {$server_port}
sip.line.1.RegUser = {$username}
sip.line.1.RegPswd = {$secret}
sip.line.1.RegTTL = 3600
sip.line.1.RegEnabled = 1
sip.line.1.ProxyAddr = {$server_host}
sip.line.1.Subscribe = 1
sip.line.1.MWICode = {$voicemail_number}
sip.line.1.AudioCodecSet = PCMA,G722,PCMU,G729
sip.line.1.PickupCode = **
{/line_loop}


phone.display.SidekeyLabelLength = {$longueur_touches}
dss.BlfDefaultType = {$dss_transfer}


{loop_linekey1}
dss.page.1.key.{$count}.Type = {$type}
dss.page.1.key.{$count}.Value = {$value}{$soustype}
dss.page.1.key.{$count}.Title = {$label}
dss.page.1.key.{$count}.ICON = Green
{/loop_linekey1}

{loop_linekey2}
dss.page.2.key.{$count}.Type = {$type}
dss.page.2.key.{$count}.Value = {$value}{$soustype}
dss.page.2.key.{$count}.Title = {$label}
dss.page.2.key.{$count}.ICON = Green
{/loop_linekey2}

