#<Voip Config File>#
Version = 2.0000000000

sip.line.1.SIPKeepAliveMode = 1
sip.line.1.SIPKeepAliveTTL = 60

  
################################################################################

mm.CountryToneType = 25
mm.DialTone = 440/0
mm.RingbackTone = 440/1500,0/3500
mm.BusyTone = 440/500,0/500
mm.CongestionTone = 440/500,0/500

phone.display.DefaultLanguage = fr

phone.date.SNTPEnabled = 1
phone.date.SNTPServer = {$server.ip.1}
phone.date.SecondSNTPServer = 0.pool.ntp.org
phone.date.TimeZone = 4
phone.date.TimeZoneName = UTC+1
phone.date.DSTType = 1
phone.date.DSTLocation = 10
phone.timeDisplay.DateDisplayStyle = 2

ap.SaveProvisionInfo = 1
ap.FlashServerIP = {$server.ip.1}:84
ap.FlashProtocol = 4
ap.FlashMode = 2
ap.FlashInterval = 24
ap.pnp.Enabled = 0
