#########################################################
#
# For SN-411X FXS
# Supported firmware versions R6.x
#
# Author: jcattan
# Contact: jeremie@famillecattan.com
#
#########################################################
cli version 3.20
clock local default-offset +01:00
clock local dst-rule EU +02:00 from 00:00 mar last sunday until 03:00 oct last sunday
snmp community freepbx ro
snmp host 192.168.30.166 security-name freepbx
timer FIRMWARE-UPDATE now + 2 minutes "provisioning execute FIRMWARE"
#timer CONFIG-UPDATE now + 2 minutes every minute "provisioning execute CONFIG"
timer PROVISIONING now + 3 minutes "provisioning execute PF_PROVISIONING_CONFIG"
webserver port 80 language en
sntp-client
sntp-client server primary {$server.ip.1} port 123 version 4

actions

  rule SIP-NOTIFY
    condition sip gateway:GW-freepbx NOTIFY_CHECK_SYNC_RELOAD
    action 1 "provisioning execute CONFIG"

system

  ic voice 0
    low-bitrate-codec g729

profile ppp default

profile call-progress-tone defaultDialtone
  play 1 1000 440 0

profile call-progress-tone defaultAlertingtone
  play 1 1500 440 -7
  pause 2 3500

profile call-progress-tone defaultBusytone
  play 1 500 440 -7
  pause 2 500

profile call-progress-tone defaultReleasetone
  play 1 500 440 -7
  pause 2 500
  
profile tone-set default

profile voip default
  codec 1 g711alaw64k rx-length 20 tx-length 20
  codec 2 g711ulaw64k rx-length 20 tx-length 20
  fax transmission 1 relay t38-udp
  fax transmission 2 bypass g711alaw64k rx-length 10 tx-length 10
  fax redundancy low-speed 2 high-speed 4
  fax max-bit-rate 9600
  modem transmission 1 bypass g711alaw64k rx-length 10 tx-length 10
  modem transmission 2 bypass g711ulaw64k rx-length 10 tx-length 10
  modem dejitter-max-delay 60
  no modem detection on-remote-fax-request
  modem bypass-method nse

profile pstn default

profile ringing-cadence default
  play 1 1500
  pause 2 3500

profile sip default
  no autonomous-transitioning
  
profile aaa default
  method 1 local
  method 2 none
  
profile provisioning CONFIG
  destination configuration
  location 1 tftp://$(dhcp.66)/$(system.mac).cfg
  activation reload graceful

profile provisioning FIRMWARE
  destination script
  location 1 tftp://$(dhcp.66)/{$model}/bw
  activation reload graceful
  
profile provisioning PF_PROVISIONING_CONFIG
  destination configuration
  location 1 tftp://$(dhcp.66)/$(system.mac).cfg
  activation reload immediate

context ip router

  interface eth0
    ipaddress dhcp
    tcp adjust-mss rx mtu
    tcp adjust-mss tx mtu
  #  ipaddress %%gateway_ip%% %%gateway_mask%%

context cs switch
#  %%digitcollection%%

  routing-table called-e164 depuis-freepbx
{line_loop}
    route {$username} dest-interface IF_LOG_FXS{$fxsnum}
{/line_loop}

  routing-table called-e164 depuis-FXS
    route defaut dest-interface IF_LOG_freepbx
    route .T dest-interface IF_LOG_freepbx

  routing-table called-e164 depuis-FXS-0auto
    route default dest-interface IF_LOG_freepbx Ajout0
    route .T dest-interface IF_LOG_freepbx Ajout0

  mapping-table called-e164 to called-e164
    map (.%) to 0\1
	

  interface sip IF_LOG_freepbx
    bind context sip-gateway GW-freepbx
    route call dest-table depuis-freepbx
    remote {$server.ip.1} 5060
    trust remote
    early-disconnect
    session-timer 90

{line_loop}
    interface fxs IF_LOG_FXS{$fxsnum}
    route call dest-table depuis-FXS
    message-waiting-indication stutter-dial-tone
    message-waiting-indication frequency-shift-keying
    call-transfer
    caller-id-presentation pre-ring
    caller-id-format dtmf
    subscriber-number {$username}
	
{/line_loop}

context cs switch
  no shutdown

authentication-service AUTH_PBX
 {line_loop}
  username {$username} password {$secret}
{/line_loop}
 

location-service SER_LOC_VOIPVOICE
  domain 1 {$server.ip.1} 5060

{line_loop}
  identity {$username}
    authentication outbound
      authenticate 1 authentication-service AUTH_PBX username {$username}

    registration outbound
      lifetime 300
      register auto
      retry-timeout on-system-error 10
      retry-timeout on-client-error 10
      retry-timeout on-server-error 10
  
{/line_loop}
 

context sip-gateway GW-freepbx

  interface freepbx
    bind interface eth0 context router port 5060

context sip-gateway GW-freepbx
  bind location-service SER_LOC_VOIPVOICE
  notify check-sync accept
  no answer-untrusted-hosts
  no shutdown
sip
  peer-flood-blocking

port ethernet 0 0
  medium auto
  encapsulation ip
  bind interface eth0 router
  no shutdown

{line_loop}
port fxs 0 {$fxsnum}
# end-of-call-signaling loop-break
# (polarity reversal)battery-reversal
  encapsulation cc-fxs
  bind interface IF_LOG_FXS{$fxsnum} switch
  no shutdown
{/line_loop}
